@import "buttons.css";

@layer base {
  /* body * {
    outline: 1px solid red;
  } */

  :root {
    color-scheme: var(--initial-color-scheme, light);
  }

  :root.dark {
    color-scheme: var(--initial-color-scheme, dark);
  }

  .listing-item {
    position: relative;
  }

  .listing-item .mainLink::after {
    display: block;
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  body {
    overflow-x: hidden;
  }
  .full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .full-bleed > * {
    /* max-width: 80rem; */
    margin-left: auto;
    margin-right: auto;
  }

  .prose > h1 {
    @apply mt-3;
  }
  .prose > h1,
  .prose > h2,
  .prose > h3,
  .prose > h4,
  .prose > h5,
  .prose > h6,
  .prose > p {
    @apply px-2 md:px-0;
  }
  .prose > ul,
  .prose > ol {
    @apply px-2 md:px-0 ms-7;
  }
  .prose > blockquote {
    @apply pl-4 pr-2 md:pl-3 md:pr-2 ml-2 md:ml-0;
  }

  .btn-accent {
    @apply text-accent-1 dark:text-accentDark-12 bg-accent-9  dark:bg-accentDark-8 hover:dark:text-white hover:dark:bg-opacity-80 hover:bg-accent-11 shadow-accent-10/30;
  }
  .btn-solid {
    @apply text-brand-1 dark:text-brandDark-12 bg-brand-10 hover:dark:text-white dark:bg-brandDark-7 hover:dark:bg-opacity-80 hover:bg-brand-11 shadow-brand-10/50 dark:shadow-brand-12/20;
  }
  .btn-soft {
    @apply text-brand-10 dark:text-brandDark-11 hover:dark:text-white bg-brand-3 dark:bg-brandDark-4 hover:dark:bg-opacity-80 hover:bg-brand-5 hover:text-black shadow-brand-10/30 dark:shadow-brand-12/10;
  }

  .btn-xs {
    @apply text-xs rounded-sm min-w-[5rem] py-2 px-3;
  }
  .btn-sm {
    @apply text-sm rounded min-w-[6rem] p-3;
  }
  .btn-normal {
    @apply rounded-md min-w-[7rem] px-5 py-3;
  }

  .btn {
    @apply flex justify-center items-center gap-1 text-center font-bold  shadow  transition duration-200;
  }

  .splide .splide__pagination__page {
    background: var(--fg, black);
    outline: 2px solid var(--bg, white);
  }
  .splide .splide__pagination__page.is-active {
    background: var(--bg, white);
    outline: 0 solid var(--bg, white);
  }
  .splide .splide__arrow:disabled {
    @apply cursor-not-allowed opacity-0 md:opacity-5;
  }
  .splide .splide__arrow {
    background: var(--bg, white);
  }
  .splide .splide__arrow svg {
    fill: var(--fg, black);
  }

  .splide .splide__pagination {
    bottom: 0;
  }
  .splide .splide__pagination__page {
    margin: 0 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
  }
}
