{{ $images := $.Scratch }}
{{ $images.Set "ratio" "-" }}
{{ $images.Set "color" slice }}

{{ $images.Set "_type" "" }}
{{ $images.Set "_index" "" }}
{{ $images.Set "_ratio" "" }}
{{ $images.Set "_thumb_XL" "" }}
{{ $images.Set "_thumb_XL_w" "" }}
{{ $images.Set "_thumb_XL_h" "" }}
{{ $images.Set "_thumb_L" "" }}
{{ $images.Set "_thumb_L_w" "" }}
{{ $images.Set "_thumb_L_h" "" }}
{{ $images.Set "_thumb_M" "" }}
{{ $images.Set "_thumb_M_w" "" }}
{{ $images.Set "_thumb_M_h" "" }}

{{ if and .Params.dimensions.width .Params.dimensions.height }}
  {{ $images.Set "ratio" (div ( div .Params.dimensions.height 1.00) .Params.dimensions.width  | lang.FormatNumber 2) -}}
{{ end }}

{{ if .Params.images }}
  {{ range $index, $img := .Params.images }}
    {{ $sourceItem := strings.TrimPrefix "/uploads/" $img.asset }}
    {{ $type := $img.type }}
    {{ $description := $img.description }}

    {{ range $.Site.Pages }}
      {{ with .Resources.Match $sourceItem }}
        {{ range . }}
          {{ $color := (.Fill "1x1 q100 picture webp").Colors }}
          {{ $images.Set "color" $color }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
