<div class="flex gap-1">
  <div class="bg-brand-8/40 p-1 px-2 rounded block sm:hidden">Mobile</div>
  <div class="bg-brand-8/50 p-1 px-2 rounded hidden sm:block md:hidden">
    Small
  </div>
  <div class="bg-brand-8/60 p-1 px-2 rounded hidden md:block lg:hidden">
    Mediumn
  </div>
  <div class="bg-brand-8/70 p-1 px-2 rounded hidden lg:block xl:hidden">
    Large
  </div>
  <div class="bg-brand-8/80 p-1 px-2 rounded hidden xl:block 2xl:hidden">
    X Large
  </div>
  <div class="bg-brand-8 p-1 px-2 rounded hidden 2xl:block">XX Large</div>
</div>
