<div class="fixed bottom-2 left-2">
  <div class="flex gap-1">
    <div class="bg-brand-8/40 p-1 px-2 rounded block sm:hidden">Mobile</div>
    <div class="bg-brand-8/50 p-1 px-2 rounded hidden sm:block md:hidden">
      Small (sm)
    </div>
    <div class="bg-brand-8/60 p-1 px-2 rounded hidden md:block lg:hidden">
      Mediumn (md)
    </div>
    <div class="bg-brand-8/70 p-1 px-2 rounded hidden lg:block xl:hidden">
      Large (lg)
    </div>
    <div class="bg-brand-8/80 p-1 px-2 rounded hidden xl:block 2xl:hidden">
      Extra Large (xl)
    </div>
    <div class="bg-brand-8 p-1 px-2 rounded hidden 2xl:block">
      2 Extra Large (2xl)
    </div>
  </div>
</div>
