{{ define "main" }}
  {{/*  {{ range .Params.images }}
    {{ .type }}
    {{ .asset }}
  {{ end }}  */}}

  {{- partial "scratching/images.html" . -}}
  {{- $color := $.Scratch.Get "color" -}}
  {{- $ratio := $.Scratch.Get "ratio" -}}
  <hr />
  color:
  {{ $color }}
  <hr />
  <hr />
  ratio:
  {{ $ratio }}
  <hr />
  {{/* {{ $images := $.Scratch }}

  {{- $images.Set "slider" slice -}}
  {{- $images.Set "thumb" slice -}}
  {{- $images.Set "assets" slice -}}
  {{- $images.Set "color" "nothing" -}}

  {{- $images.Set "_type" "nothing" -}}
  {{- $images.Set "_index" "nothing" -}}
  {{- $images.Set "_ratio" "nothing" -}}
  {{- $images.Set "_thumb_XL" "nothing" -}}
  {{- $images.Set "_thumb_XL_w" "nothing" -}}
  {{- $images.Set "_thumb_XL_h" "nothing" -}}
  {{- $images.Set "_thumb_L" "nothing" -}}
  {{- $images.Set "_thumb_L_w" "nothing" -}}
  {{- $images.Set "_thumb_L_h" "nothing" -}}
  {{- $images.Set "_thumb_M" "nothing" -}}
  {{- $images.Set "_thumb_M_w" "nothing" -}}
  {{- $images.Set "_thumb_M_h" "nothing" -}}

  {{ if .Params.images }}
    {{ $imagesList := .Params.images }}
    {{ range $index, $img := $imagesList }}
      {{ $sourceItem := strings.TrimPrefix "/uploads/" $img.asset }}
      {{ $type := $img.type }}
      {{ $description := $img.description }}

      {{ $sourceItem }}
      {{ range $.Site.Pages }}
        {{ with .Resources.Match $sourceItem }}
          {{ range . }}
            {{ if eq $type "full" }}
              <hr />
              {{ $images.Set "color" (.Fill "1x1 q100 picture webp").Colors }}

              {{ $thumb_XL := .Resize "500x center q100 picture webp" }}
              {{ $thumb_L := .Resize "400x center q100 picture webp" }}
              {{ $thumb_M := .Resize "300x center q100 picture webp" }}

              {{ $images.Set "_type" $type }}
              {{ $images.Set "_index" $index }}
              {{ $images.Set "_thumb_XL" $thumb_XL.RelPermalink }}
              {{ $images.Set "_thumb_XL_w" $thumb_XL.Width }}
              {{ $images.Set "_thumb_XL_h" $thumb_XL.Height }}
              {{ $images.Set "_thumb_L" $thumb_L.RelPermalink }}
              {{ $images.Set "_thumb_L_w" $thumb_L.Width }}
              {{ $images.Set "_thumb_L_h" $thumb_L.Height }}
              {{ $images.Set "_thumb_M" $thumb_M.RelPermalink }}
              {{ $images.Set "_thumb_M_w" $thumb_M.Width }}
              {{ $images.Set "_thumb_M_h" $thumb_M.Height }}

              {{ $images.Set "thumb" (slice (dict
                "type" $type
                "index" $index
                "thumb_XL" $thumb_XL.RelPermalink
                "thumb_XL_w" $thumb_XL.Width
                "thumb_XL_h" $thumb_XL.Height
                "thumb_L" $thumb_L.RelPermalink
                "thumb_L_w" $thumb_L.Width
                "thumb_L_h" $thumb_L.Height
                "thumb_M" $thumb_M.RelPermalink
                "thumb_M_w" $thumb_M.Width
                "thumb_M_h" $thumb_M.Height
                ))
              }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{- $colors := .Scratch.Get "colors" -}}


  <ul class="list-disc">
    <li>
      colors:
      {{ $images.Get "color" }}
    </li>
  </ul>
  */}}
{{ end }}
