{{ define "main" }}

<div class="mx-auto md:max-w-[1600px] grid grid-cols-[1fr] md:grid-cols-[auto_minmax(30rem,_.4fr)] mb-10 md:px-3">
  <div class="self-stretch mt-1 md:mt-3
  md:before:rounded-md relative mb-4 md:py-3 before:opacity-[.3] md:before:opacity-[.1] before:z-[-1] before:bg-[var(--bg)] before:inset-0 before:absolute before:block before:content-['']">
      
      {{ partial "scratching/images.html" . }}

      {{ $slider := .Scratch.Get "slider" }}

      {{/*  {{ $colors := .Scratch.Get "_colors" }}
      <div class="flex">
        {{ range $colors }}
          <div class="w-8 h-8" style="background: {{ safeCSS  . }};"></div>
        {{ end }}
      </div>  */}}

      {{/*  <div class="splide__pagination__page is-active splide__arrow splide__pagination splide__pagination__page"></div>  */}}

      <div
        x-data="{
					init() {
						new Splide(this.$refs.splide, {
							perPage: 1,
							gap: '0.5rem',
							type   : 'slide',
							breakpoints: {
								640: {
									perPage: 1,
								},
							},
						}).mount()
					},
				}">
        <section x-ref="splide" class="splide" aria-label="Carousel Example">
          <div class="splide__track">
            <ul class="splide__list">
              {{ range $index, $img := $slider }}
                

                <li
                  class="flex flex-col items-center justify-center pb-8 splide__slide">
                  <img
                    {{ if $index }}
                      loading="lazy" data-src="{{ .slider_L }}" class="lazyload
                      w-auto max-h-[80vh] rounded"
                    {{ else }}
                      src="{{ .slider_L }}" class="product__image w-auto
                      max-h-[80vh] rounded"
                    {{ end }}
                    alt="{{ .title }}"
                    width="{{ .slider_L_w }}"
                    height="{{ .slider_L_h }}" />
                </li>
              {{ end }}
            </ul>
          </div>
        </section>
      </div>    
  </div>
  <div class="px-2 md:py-6 md:px-4 max-w-[30rem]">
    <h1 class="text-brand-9 dark:text-brand-9 text-3xl font-serif">
      {{ .Title | title }} | 
      <small>artwork by {{ .Site.Params.name }} {{ with .Params.years }}- {{ . }}{{ end }}</small>
    </h1>
    {{ with .Params.techniqueUsed }}
      <p class="mt-6 font-serif text-white dark:text-neutralDark-11">{{ . }}</p>
    {{ end }}
    <p class="font-serif text-white dark:text-neutralDark-11">
      {{ with .Params.dimensions.width  }}
      {{ . }}w
      {{ end }}
      {{ with .Params.dimensions.height  }}
      x
      {{ . }}h
      {{ end }}
      {{ with .Params.dimensions.thickness  }}
      x
      {{ . }}h
      {{ end }}
    </p>
    {{ with .Params.dimensions.dimensionDescription  }}
    <p class="italic dark:text-neutralDark-9 text-neutral-9 ">
      ({{ . }})
    </p>
    {{ end }}
    <div class="bg-accent-3 dark:bg-accentDark-3/50 my-6 p-4 rounded-xl flex flex-col gap-4 justify-center">
      <small>
        {{ partial "id-to-clipboard.html"  ( dict "ctx" . "type" "artwork id" ) }}
      </small>

      {{ partial "molecules/cta" (dict "ctx" . "type" "button" "click" "pullOut = true, bodyOverlay = false" "color" "accent" "label" "Make a offer" "size" "lg") }}

      
      {{ $source := .File | urlize }}
      {{ $string := "?source=" }}
      {{ $urlWithSource := printf "%s%s" $string  $source }}


      <template x-teleport="body">
        <template x-if="pullOut">
          <div
            x-bind:style="'height: ' + windowHeight + 'px;'"
            class="fixed top-0 bottom-0 right-0 left-auto z-[51] block w-full h-screen min-h-screen overflow-hidden md:w-1/2 bg-neutral-50"
          >
          <div 
          x-bind:style="'height: ' + windowHeight + 'px;'"
          class="flex flex-col w-full bg-neutral-1 dark:bg-neutralDark-1 text-neutral-12 dark:text-neutral-d-12" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="flex justify-between px-4 py-3 bg-neutral-5 dark:bg-black">
                <h5 class="modal-title font-serif text-brand-10 dark:text-brandDark-10" id="exampleModalLabel">
                  {{ .Title }}
                </h5>
                <button type="button" class="text-brand-9 dark:text-brandDark-9" @click="pullOut = false, bodyOverlay = false" aria-label="Close">
                    <span aria-hidden="true">
                        {{ partial "icons/x-lg.svg" . }}
                      </span>
                    </button>
                  </div>
                  <div class="w-full h-full grow">                    
                    <iframe src="{{ .Site.BaseURL }}form/{{ $urlWithSource }}&price={{ .Params.store_info.price }}&stock={{ .Params.instock }}" frameborder="0" width="100%" height="100%"></iframe>
                  </div>
                </div>
              </template>
            </template>
      <template x-teleport="body">
        <template x-if="pullOut">
          <div
          x-bind:style="'height: ' + windowHeight + 'px;'"
          @click="bodyOverlay = true, pullOut = false"
          class="absolute inset-0 z-50 block w-full h-screen min-h-screen bg-white/20 dark:bg-black/20 backdrop-brightness-50 backdrop-blur"
          ></div>
        </template>
      </template>

    </div>
    {{ $colors := .Scratch.Get "_colors" }}
    <div class="flex gap-1">
      {{ range $colors }}
        <div class="w-8 h-8 rounded-full" style="background: {{ safeCSS  . }};"></div>
      {{ end }}
    </div>

  </div>
</div>
<main class="block p-0 my-0 mx-auto max-w-[70rem]">

  <section class="{{ .Site.Params.Prose }} block p-0 my-0 mx-auto max-w-[70rem]">
    {{ .Content }}
  </section>
</main>

<div class="grid grid-cols-2 gap-3 py-4">
  <div class="flex justify-end">
    {{ with .PrevInSection }}
    {{ $link := .Permalink }}
    {{ partial "molecules/cta" (dict "ctx" . "type" $link "color" "soft" "label" "Previous" "size" "lg") }}  
    {{ end }}
  </div>
  <div class="flex justify-start">
    {{ with .NextInSection }}
      {{ $link := .Permalink }}
      {{ partial "molecules/cta" (dict "ctx" . "type" $link "color" "soft" "label" "Next" "size" "lg") }}
    {{ end }}
  </div>
</div>
  
{{ end }}
